body {
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(0, 0%, 59%);
  background-color: hsl(185, 75%, 39%);
  background-image: url(./images/bg-pattern-bottom.svg), url(./images/bg-pattern-top.svg);
  background-position: 45vw 55vh, -25vw -60vh;
  background-repeat: no-repeat, no-repeat;
  max-width: 1440px;
  max-height: 100vh;
}

.box {
  position: relative;
  margin: 0 auto;
  top: 150px;
  width: 310px;
  height: 330px;
  border-radius: 5%;
  padding: 20px;
  background-color: white;
  background-image: url(./images/bg-pattern-card.svg);
  background-position: top;
  background-repeat: no-repeat;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
}

.box img {
  position: relative;
  top: 70px;
  left: 33%;
  border: 5px solid white;
  border-radius: 50%;
}

.name-flex {
  display: flex;
  position: relative;
  top: 10px;
  height: 150px;
  align-items: center;
}

.name-flex>div {
  position: relative;
  top: 20px;
  text-align: center;
  flex-grow: 1;
}

.name, .number {
  font-weight: 700;
  font-size: 18px;
  color: black;
}

.details {
  font-size: 13px;
}

.stats-flex {
  display: flex;
  position: relative;
  top: 10px;
  height: 65px;
  align-items: center;
  justify-content: space-around;
}

.stats-flex>div {
  line-height: 1.5;
  text-align: center;
}

.category {
  font-size: 11px;
}

.attribution {
  position: absolute;
  bottom: 0;
  height: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}